.SessaoInicial {
  display: flex;
  background-image: url('../../../public/assets/images/imagemInicialG.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;

  .square {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    height: 30vh;
    color: #fff;
    gap: 20px;
    padding-top: 40vh;
    margin-left: 10vw;

    img {
      width: 400px;
    }

    .text {
      gap: 20px;
      text-align: left;
    }

    a {
      text-decoration: none;
      font-weight: 500;
      color: #fff;
      padding: 1vh 5vw;
      border-radius: 5px;
      border: solid 3px #22B150;
      background-color: #22B150;
    }

    a:hover {
      text-decoration: none;
      font-weight: 500;
      color: #fff;
      transition: 0.3s;
      text-shadow: 0px 0px 10px #fff;
      box-shadow: 0px 0px 10px #22B150;
    }
  }
}

@media (max-width: 1280px) {
  .SessaoInicial {
    background-image: url('../../../public/assets/images/imagemInicialM.png');

    .square {
      height: 20vh;

      img {
        width: 200px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .SessaoInicial {

    .square {

      .text {
        font-size: 0.7rem;
      }

      a {
        font-size: 0.7rem;
      }
    }
  }
}

@media (max-width: 912px) {
  .SessaoInicial {
    height: 50vh;

    .square {
      padding-top: 15vh;
    }
  }
}

@media (max-width: 600px) {
  .SessaoInicial {

    .square {
      padding-top: 15vh;

      .text {
        font-size: 0.6rem;
      }
    }
  }
}

@media (max-width: 390px) {
  .SessaoInicial {

    .square {

      img  {
        width: 180px;
      }

      .text {
        font-size: 0.4rem;
      }
    }
  }
}