  .Home {
    display: flex;
    flex-direction: column;

    .SessaoInicial {
      display: flex;
      background-image: url('../../../public/assets/images/imagemInicialG.png');
      background-size: cover;
      background-repeat: no-repeat;
      height: 90vh;

      .square {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: space-between;
        height: 30vh;
        color: #fff;
        gap: 20px;
        padding-top: 20vh;
        margin-left: 10vw;

        img {
          width: 400px;
        }

        .text {
          gap: 20px;
          text-align: left;
          h1{
            font-family: 'Roboto';
            font-weight: 400;

          }
        }

        a {
          text-decoration: none;
          font-weight: 500;
          color: #fff;
          padding: 1vh 5vw;
          border-radius: 5px;
          border: solid 3px #22B150;
          background-color: #22B150;
        }

        a:hover {
          text-decoration: none;
          font-weight: 500;
          color: #fff;
          transition: 0.3s;
          text-shadow: 0px 0px 10px #fff;
          box-shadow: 0px 0px 10px #22B150;
        }
      }
    }

    #invert {
      flex-direction: row-reverse;
    }

    .Sessao {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content:space-evenly;
      padding: 10vh 2vw;


      .sep {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 40px;

        img {
          width: 35vw;
        }

        .logo {
          width: 8vw;
        }

        .text {
          display: flex;
          flex-direction: column;
          gap: 50px;
          h1{
            font-family: 'Roboto';
            font-weight: 500;
          }

          ul {
            display: flex;
            flex-direction: column;
            gap: 20px;

            li {
              font-weight: 700;
              text-align: start;
            }
          }

          a {
            text-decoration: none;
            font-weight: 500;
            color: #fff;
            padding: 1vh 5vw;
            border-radius: 5px;
            border: solid 3px #22B150;
            background-color: #22B150;
            text-align: center;
          }

          a:hover {
            text-decoration: none;
            font-weight: 500;
            color: #fff;
            transition: 0.3s;
            text-shadow: 0px 0px 10px #fff;
            box-shadow: 0px 0px 10px #22B150;
          }
        }

        .end {
          align-self: flex-end;
        }
      }
    }

    .divisao {
      h1 {
        font-family: 'lexend tera';
        font-size: 2.5rem;
      }

      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 3vh 0vw;
      background-color: #0075FF;
      color: #fff;
      font-size: 2rem;
      font-weight: 800;
    }
  }


  @media (max-width: 1280px) {
    .Home {

      .SessaoInicial {
        background-image: url('../../../public/assets/images/imagemINICIALNOVA.png');
        height: 90vh;
        

        .square {
          height: 20vh;

          img {
            width: 250px;
          }
        }
      }

      .divisao {

        h1 {
          font-size: 2.5rem;
        }
      }
    }
  }

  @media (max-width: 1024px) {
    .Home {

      .SessaoInicial {

        .square {
          
          .text {
            font-size: 0.7rem;
          }

          a {
            font-size: 0.7rem;
          }
        }
      }
    }
  }

  @media (max-width: 912px) {
    .Home {

      .SessaoInicial {
        height: 50vh;

        .square {
          padding-top: 10vh;
        }
      }

      .Sessao {
        padding: 2vh 1vw;

        .sep {
          gap: 20px;
        }
      }

      .divisao {

        h1 {
          font-size: 2rem;
        }
      }
    }
  }

  @media (max-width: 600px) {
    .Home {

      .SessaoInicial {

        .square {
          padding-top: 15vh;

          .text {
            font-size: 0.6rem;
          }
        }
      }

      .Sessao {

        .sep {

          .text {
            gap: 20px;
            font-size: 0.5rem;
            
          }
        }
      }

      .divisao {
        h1 {
          font-size: 1rem;
        }
      }
    }
  }

  @media (max-width: 390px) {
    .Home {

      .SessaoInicial {

        .square {

          img {
            width: 180px;
          }

          .text {
            font-size: 0.4rem;
          }
        }
      }
    }
  }