/*.Ferramentas {
  display: flex;
  flex-direction: column;
  gap: 25vh;*/

  .sessaoInicial {
    display: flex;
    height: 90vh;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #fff;
    gap: 5vh;
    /*background-image: linear-gradient(213deg, #000000, #16662c, #000);*/

    h1 {
      font-size: 4rem;
      font-family: 'Roboto';
      font-weight: 400;
      color: #141414;
    }

    p {
      font-size: 1.5rem;
      font-family: 'Roboto';
      color: #404040;
    }
  }

  .sessaoTexto {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 750px;
    padding: 0vh 5vw;
    background-color: #CCCDFA;
    


    .conteudo {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      border-radius: 12px;
      gap: 2vh;
      padding: 5vh 3vw;
      width: 90vw;
      background-image: linear-gradient(#CCCDFA, #FFFFFF);
      height: 100%;
      
      
      h2 {
        font-size: 4rem;
        color: #141414;
        font-family: 'Roboto';
        font-weight: 400;
      }

      p {
        font-size: 1.5rem;
        width: 50vw;
      }

      img {
        width: 47vw;
      }
    }
  }
/*}*/

@media (max-width: 1280px) {
  .Ferramentas {
    gap: 4vh;

    .sessaoTexto {

      .conteudo {

        h2 {
          font-size: 4rem;
        }

        p {
          font-size: 1.3rem;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .Ferramentas {

    .sessaoTexto {

      .conteudo {

        h2 {
          font-size: 3rem;
        }

        p {
          font-size: 1.3rem;
        }
      }
    }
  }
}

@media (max-width: 912px) {
  .Ferramentas {


    .sessaoInicial {


      p {
        font-size: 1.3rem;
      }
    }

    .sessaoTexto {


      .conteudo {
        gap: 2vh;

        h2 {
          font-size: 2.5rem;
        }

        p {
          font-size: 1.3rem;
          width: 75vw;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .Ferramentas {
    gap: 6vh;

    .sessaoInicial {
      height: 50vh;

      img {
        width: 20vw;
      }

      h1 {
        font-size: 2rem;
      }

      p {
        font-size: 1rem;
      }
    }

    .sessaoTexto {
      height: 50vh;

      .conteudo {
        gap: 2vh;

        h2 {
          font-size: 2rem;
        }

        p {
          font-size:16px;
          width: 75vw;
        }
      }
    }
  }
}

@media (max-width: 599px) {
  .Ferramentas {
    gap: 6vh;

    .sessaoInicial {
      height: 50vh;

      img {
        width: 20vw;
      }

      h1 {
        font-size: 2rem;
      }

      p {
        font-size: 1rem;
      }
    }

    .figma{
      height: 68vh;
    }
    .sessaoTexto {
      height: 61vh;
      
      
      .complicacao{
        height: 490px;
      }
      .conteudo {
        gap: 2vh;

        h2 {
          font-size: 2rem;
        }

        p {
          font-size:16px;
          width: 75vw;
        }
      }
    }
  }
}

@media (max-width: 430px) {
  .Ferramentas {
    gap: 5vh;

    .sessaoInicial {
      gap: 3vh;
      padding: 0px 30px;


      p {
        font-size: 16px;
      }
    }
    .figma{
      padding-top: px;
      
    }
    .sessaoTexto {
      height: 580px;
      background-color: #CCCDFA;
      .complicacao{
        height: 62vh;
       /* margin-top: 150px;*/
      }
      .conteudo {
        gap: 30px;
        img{
          width: 250px;
        }
        h2 {
          font-size: 2rem;
        }

        p {
          font-size: 14px;
          width: 75vw;
        }
      }
    }
  }
}

@media (max-width: 380px) {
  .Ferramentas {
    gap: 5vh;

    .sessaoInicial {
      gap: 3vh;


      p {
        font-size: 16px;
      }
    }
    .figma{
      
      
    }
    .sessaoTexto {
      height: 100%;
      .complicacao{
        height: 100%;
      
      }
      .conteudo {
        gap: 30px;
        img{
          width: 250px;
        }
        h2 {
          font-size: 2rem;
        }

        p {
          font-size: 16px;
          width: 75vw;
        }
      }
    }
  }
}
