.Nav {
  position: absolute;
  top: 10vh;
  left: 50%;
  transform: translate(-50%, -50%);
  

  .sessaoNavMob {
    display: none;
  }

  button {
    display: none;
  }

  .sessaoNav {
    background-color: #22B150;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2vh 2vw;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    gap: 0.5vw;
    height: 35px;
    min-width: 550px;
    a {
      text-decoration: none;
      font-weight: 500;
      color: #fff;
      /*padding: 1vh 2vw;*/
      border-radius: 5px;
      border: solid 3px #22B150;
      height: 25px;
    }

    a:hover {
      text-decoration: none;
      font-weight: 500;
      color: #fff;
      border: solid 3px #fff;
      transition: 0.3s;
      text-shadow: 0px 0px 10px #fff;
    }

    .line {
      width: 0.2vw;
      height: 4vh;
      background-color: #fff;
    }
  }
}

@media (max-width: 1280px) {
  .Nav {

    .sessaoNav {
      font-size: 0.7rem;

      .line {
        width: 0.2vw;
        height: 3vh;
      }
    }

  }
}

@media (max-width: 912px) {
  .Nav {
    position: fixed;
    top: 0;
    right: 0;
    transform: translate(0%, 0%);

    .sessaoNav {
      display: none;
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      position: fixed;
      top: 5vh;
      right: 5vw;
      z-index: 1;
      background-color: #22B150;
      border: solid 3px #ffffff;
      border-radius: 5px;
      padding: 1vh 2vw;

      img {
        height: 2vh;
      }
    }

    .sessaoNavMob {
      position: fixed;
      display: flex;
      flex-direction: column;
      top: 0vh;
      right: 0;
      height: 100vh;
      width: 40vw;
      align-items: center;
      justify-content: center;
      gap: 5vh;
      background-image: linear-gradient(#0000, #22B150, #0000);

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: fixed;
        top: 5vh;
        right: 5vw;
        z-index: 1;
        background-color: #22B150;
        border: solid 3px #ffffff;
        border-radius: 5px;
        padding: 1vh 2vw;

        img {
          height: 2vh;
        }
      }

      a {
        display: flex;
        text-decoration: none;
        font-weight: 500;
        color: #fff;
        width: 25vw;
        height: 5vh;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        background-color: #22B150;
        border: solid 3px #ffffff;
      }
    }
  }
}

@media (max-width: 600px) {
  .Nav {

    button {
      border: solid 2px #fff;
    }

    .sessaoNavMob {
      width: 60vw;

      button {
        border: solid 2px #fff;
      }

      a {
        font-size: 0.8rem;
        border: solid 2px #fff;
      }
    }
  }
}

@media (max-width: 390px) {
  .Nav {

    .sessaoNavMob {
      gap: 3vh 0vw;

      a {
        font-size: 0.57em;
        width: 40vw;
      }
    }
  }
}