.Nav {
  position: absolute;
  top: 10vh;
  right: 20vw;

  .sessao {
    background-color: #438F45;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2vh 2vw;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    gap: 0.5vw;

    a {
      text-decoration: none;
      font-weight: 500;
      color: #fff;
      padding: 1vh 2vw;
      border-radius: 5px;
      border: solid 3px #438F45;
    }

    a:hover {
      text-decoration: none;
      font-weight: 500;
      color: #fff;
      border: solid 3px #fff;
      transition: 0.3s;
      text-shadow: 0px 0px 10px #fff;
    }

    .line {
      width: 0.2vw;
      height: 4vh;
      background-color: #fff;
    }
  }
}